<!DOCTYPE html>
<html>
    <head>
        <title>Admin Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body>
        <div class="w3-panel w3-black w3-border w3-bottombar">
            <div class="w3-header w3-center">
                <h1>Institutional Library</h1>
            </div>
            <div class="w3-center">
                <div class="w3-left" style="margin-left: 100px;">
                    <a href="../../memberLogin" class="w3-btn w3-hover-grey"><h4>Sign In</h4></a>
                    <a href="../../Sign_up" class="w3-btn w3-hover-grey"><h4>Sign Up</h4></a>
                    <a href="adminLogin.html" class="w3-btn w3-hover-grey"><h4>Admin Login</h4></a>
                    <a href="news_events.html" class="w3-btn w3-hover-grey"><h4>News and Events</h4></a>
                    <a href="links.html" class="w3-bar-item w3-button"><h4>Useful Links</h4></a>
                </div>
                <div class="w3-dropdown-hover w3-right:0">
                    <button class="w3-button"><h4>:::Menu</h4></button>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4">
                      <a href="index.html" class="w3-bar-item w3-button">Home</a>
                      <a href="../../ac_books" class="w3-bar-item w3-button">Academic Books</a>
                      <a href="other_books.html" class="w3-bar-item w3-button">Other Books</a>
                      <a href="new_arrivals.html" class="w3-bar-item w3-button">New Books</a>
                      <a href="members.html" class="w3-bar-item w3-button">Members</a>
                      <a href="Reviews.html" class="w3-bar-item w3-button">Reviews</a>
                      <a href="Authors.html" class="w3-bar-item w3-button">Authors</a>
                      <a href="Publishers.html" class="w3-bar-item w3-button">Publishers</a>
                    </div>
                </div>
            </div>
        </div>
        <form class="w3-container w3-card-4" method="POST" action="/admin_login">
            <h2 class="w3-text-blue">Log In as Admin</h2>
            <p>      
               <label class="w3-text-blue"><b>Admin ID</b></label>
               <input class="w3-input w3-border" id="adminId" name="adminId" type="text" placeholder="ID" value="<%= adminId %>" required>
            </p>

            <p>      
                <label class="w3-text-blue"><b>Password</b></label>
                <input class="w3-input w3-border" id="adminPassword" name="adminPassword" type="password" placeholder="password">
            </p>

            <input type="submit" value="Log In">
        </form>
​
    </body>
</html> 
​