<!DOCTYPE html>
<html>
    <head>
        <title>Member Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type="text/javascript" src="../public/js/member_page.js" defer></script>
    </head>
    <body>
        <div class="w3-panel w3-black w3-border w3-bottombar">
            <div class="w3-header w3-center">
                <h1>Institutional Library</h1>
            </div>
            <div class="w3-center">
                <div class="w3-left" style="margin-left: 100px;">
                    <a href="../../member_login" class="w3-btn w3-hover-grey"><h4>Sign In</h4></a>
                    <a href="../../sign_up" class="w3-btn w3-hover-grey"><h4>Sign Up</h4></a>
                    <a href="../../admin_login" class="w3-btn w3-hover-grey"><h4>Admin Login</h4></a>
                    <a href="news_events.html" class="w3-btn w3-hover-grey"><h4>News and Events</h4></a>
                    <a href="links.html" class="w3-btn w3-hover-grey"><h4>Useful Links</h4></a>
                </div>
                <div class="w3-dropdown-hover w3-right:0">
                    <button class="w3-button"><h4>:::Menu</h4></button>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4">
                      <a href="index.html" class="w3-bar-item w3-button">Home</a>
                      <a href="../../ac_books" class="w3-bar-item w3-button">Academic Books</a>
                      <a href="other_books.html" class="w3-bar-item w3-button">Other Books</a>
                      <a href="new_arrivals.html" class="w3-bar-item w3-button">New Books</a>
                      <a href="members.html" class="w3-bar-item w3-button">Members</a>
                      <a href="Reviews.html" class="w3-bar-item w3-button">Reviews</a>
                      <a href="Authors.html" class="w3-bar-item w3-button">Authors</a>
                      <a href="Publishers.html" class="w3-bar-item w3-button">Publishers</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="w3-center w3-card-4" style="width: 200px; margin-left: 485px;">
            <i class="w3-xxlarge fa fa-user"></i>
            <h4 id = "memberId" name="memberId"><%= memberId %></h4>
            <h4 id="memberName" name="memberName"><%= memberName %></h4>
        </div>
        
        <div class="w3-panel w3-center">
            <button class="w3-btn w3-blue" onclick='$("#rev").css("display","block")'>Review Book</button>
            <div id="rev" class="w3-display-container" style="display: none;">
                <div class="w3-display-topright">
                    <button class="w3-btn w3-red" onclick='$("#rev").css("display","none")'>X</button>
                </div>
                <div>
                    <form class="w3-container w3-card-4" id="reviewForm" method="POST" action="/member_page">
                        <h2 class="w3-text-blue">Review A Book</h2>
                        <p>      
                           <label class="w3-text-blue" for="reviewBookId"><b>Book ID</b></label>
                           <input class="w3-input w3-border" id = "reviewBookId" name="reviewBookId" type="text" placeholder="ID" required>
                        </p>
            
                        <p>      
                            <label class="w3-text-blue" for="reviewText" ><b>Review Text</b></label>
                            <input class="w3-input w3-border" id="reviewText" name="reviewText" type="text" placeholder="review" maxlength="255" required>
                        </p>
            
                        <p>      
                             <button class="w3-btn w3-blue" id="reviewSubmit" type="submit">Submit</button></p>
                    </form>
                </div>
            </div>
        </div>

        <div class="w3-panel w3-center">
            <button class="w3-btn w3-blue" onclick='$("#fav").css("display","block")'>Add Favourite Book</button>
            <div id="fav" class="w3-display-container" style="display: none;">
                <div class="w3-display-topright">
                    <button class="w3-btn w3-red" onclick='$("#fav").css("display","none")'>X</button>
                </div>
                <div>
                    <form class="w3-container w3-card-4" method="POST" action="/member_page">
                        <h2 class="w3-text-blue">Favourite Book info</h2>
                        <p>      
                           <label class="w3-text-blue" for="favBookId"><b>Book ID</b></label>
                           <input class="w3-input w3-border" id="favBookId" name="favBookId" type="text" placeholder="ID">
                        </p>
            
                        <p>      
                             <button class="w3-btn w3-blue" name="favSubmit" type="submit">Submit</button></p>
                    </form>
                </div>
            </div>
        </div>

        <div class="w3-center w3-panel">
            <button class="w3-btn w3-blue" onclick= '$("#favlist").css("display","block");getInfo()'>My Favourites List</button>
            <div id="favlist" class="w3-center" style="display: none;">        
                <div class="w3-panel w3-center">
                    <button class="w3-btn w3-red" style="float:right;" onclick='$("#favlist").css("display","none")'>X</button>
                    <table id="myfavtable" class="w3-table-all w3-centered">
                        <tr>
                            <th>Book Id</th>
                            <th>Book Name</th>
                            <th>Author</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="w3-center w3-panel">
            <a class="w3-btn w3-blue" href="/suggestion?suggestionId=sug">Give Suggestion/Complaint</a>
        </div>
        <script>
            const getInfo =async ()=>{
                var table = document.getElementById("myfavtable");
                while (table.rows.length > 1) {
                    table.deleteRow(1);
                }
                const url = 'http://localhost:8080/member_page/favtable';
                const options = {method: 'GET'};
                const response = await fetch(url,options);
                const myjs = await response.json();
                for(let i =0;i<myjs.length;i++){
                    var row = table.insertRow();              
                    var cell1 = row.insertCell(0);
                    var cell2 = row.insertCell(1);
                    var cell3 = row.insertCell(2);
                    cell1.innerHTML = myjs[i].BOOK_ID;
                    cell2.innerHTML = myjs[i].BOOK_NAME;
                    cell3.innerHTML = myjs[i].AUTHOR_NAME;
                }    
            }   
        </script>
    </body>
</html> 
​
